.top-header {
  li {
    i {
      margin-right:7px;
      color: #9591e1;
    }

  }
  height: 40px;
  background-color: var(--dark-color-two);
  font-size: 12px;
  font-weight: 500  ;
  &__rlinks {
    display: flex;
    gap: 25px;
    list-style: none;

  }
  &__container {

    display: flex;
    justify-content: space-between;
  }
}
