<div class="top-header">
  <div class="container top-header__container">
      <ul class="top-header__rlinks">
        <li>
          <a href="#"><i class="fa-solid fa-phone"></i>8 800 555 35 35</a></li>
        <li><a href="#"><i class="fa-solid fa-inbox"></i>kmrk@mail.com</a></li>
        <li><a href="#"><i class="fa-solid fa-map-location"></i>ул. Грига 5</a></li>
      </ul>
      <ul class="top-header__llinks">
        <li><a href="#" id="login"><i class="fa-solid fa-right-to-bracket"></i>Личный кабинет</a></li>
      </ul>
    </div>
</div>
